<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Meta Title and Icon -->
  <title>Confirmation</title>
  <link rel="icon" type="image/x-icon" href="/../static/images/icon.png">
  <!-- CSS Override -->
  <style>
    /* ALL CHANGES HERE OVERRIDE BOOTSTRAP CSS */
    * {
      font-family: Andale Mono, monospace !important;
    }

    .btn-primary,
    .btn-primary:active,
    .btn-primary:active:focus,
    .btn-primary:visited {
      border-color: #e31c79 !important;
      color: #FFFFFF !important;
      background-color: #e31c79 !important;
      box-shadow: #e31c79 !important;
      border: 1px solid white !important;
    }

    .btn-primary:hover {
      background-color: #FABEE0 !important;
    }
  </style>
</head>

<body>
  <!-- Use to control width of layout (removes whitespaces left and right)-->
  <div class="container-fluid" style="padding-left: 0rem; padding-right: 0rem; overflow: hidden;">

    <!-- Header -->
    <div class="row row-cols-1">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e31c79">
          <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bold; color: white">
              <img src="/../static/images/icon.png" alt="" width="50" height="50"
                class="d-inline-block align-text-middle">
              Gazelluf
            </a>
            <a class="navbar-brand" href="profile">
              <img src="/../static/images/profile.png" alt="" width="=50" height="50"
                class="d-inline-block align-text-middle">
              <button type="button" class="btn btn-primary btn-lg">My Profile</button>
            </a>
          </div>
        </nav>
      </div>
    </div>

    <!-- Confirmation Text -->
    <div class="row row-cols-1">
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: auto; height: auto; margin: 5rem;">
          <div class="card-body">
            <h3 style="margin: 2rem;" class="card-title">&#127881; Congratulations! You arrived at your Destination</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="card-text">
                  &#128694; You walked a distance of <b><span id="total_distance"></span></b> km!
              </li>
              <li class="list-group-item">
                <p class="card-text">
                  &#9201; You walked <b><span id="minutes"></b> minutes!
                </p>
              </li>
              <li class="list-group-item">
                <p class="card-text">
                  &#128201; You burned <b><span id="calories"></b> calories!
                </p>
              </li>
              <li class="list-group-item">
                <p class="card-text">
                  &#128205; You visited <b>{{hotspots}}</b> hotspots!
                </p>
              </li>
              <li class="list-group-item">
                <p class="card-text">
                  &#127941; You received <b><span id="points"></b> points!
                </p>
              </li>
            </ul>
            <p style="margin: 2rem;">
            <form action="" method="POST">
              <button class="btn btn-primary" type="submit" name="save" id="Save" value="">
                Confirm and Add to Profile
              </button>
            </form>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    const hotspots = {{ hotspots }};
    var total = sessionStorage.getItem("total_distance");
    var total = Number(total);
    var total = total.toFixed(2);
    console.log(total);
    document.getElementById("total_distance").innerHTML = total;
    document.getElementById("minutes").innerHTML = (total / (5.1 / 60)).toFixed(2);
    document.getElementById("calories").innerHTML = (total * 76).toFixed(2);
    var minutes = Number(total / (5.1 / 60));
    console.log(minutes);
    var calories = Number(total * 76);
    console.log(calories);
    var points = (100 + 50) * total;
    console.log(points);
    document.getElementById("points").innerHTML = points.toFixed();

    sessionStorage.setItem("points", points);
    sessionStorage.setItem("calories", calories);
    sessionStorage.setItem("duration", minutes);
    var dict1 = { name: "val", name2: "val" };
    document.getElementById("Save").value = [points, total, calories];

  </script>
</body>

</html>