<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Meta Title and Icon -->
  <title>My Profile</title>
  <link rel="icon" type="image/x-icon" href="/../static/images/icon.png">
  <!-- CSS Override -->
  <style>
    /* ALL CHANGES HERE OVERRIDE BOOTSTRAP CSS */
    * {
      font-family: Andale Mono, monospace !important;
    }

    .btn-primary,
    .btn-primary:active,
    .btn-primary:active:focus,
    .btn-primary:visited {
      border-color: #e31c79 !important;
      color: #FFFFFF !important;
      background-color: #e31c79 !important;
      box-shadow: #e31c79 !important;
    }

    .btn-primary:hover {
      background-color: #FABEE0 !important;
    }
  </style>
</head>

<body>
  <!-- Use to control width of layout (removes whitespaces left and right)-->
  <div class="container-fluid" style="padding-left: 0rem; padding-right: 0rem; overflow: hidden;">

    <!-- Header -->
    <div class="row row-cols-1">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e31c79">
          <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-weight: bold; color: white">
              <img src="/../static/images/icon.png" alt="" width="50" height="50"
                class="d-inline-block align-text-middle">
              Gazelluf
            </a>
            <a class="navbar-brand" href="profile">
              <img src="/../static/images/profile.png" alt="" width="=50" height="50"
                class="d-inline-block align-text-middle">
              <button type="button" class="btn btn-primary btn-lg">My Profile</button>
            </a>
          </div>
        </nav>
      </div>
    </div>

{% if new_stats is defined %}
    <div class="row">
      <!-- Rewards -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Rewards</b></h5>
          <img src="/../static/images/discount.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
              
                <p class="card-text">Total Points: {{points}}</p>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Current rewards: {{points}}</li>
              <li class="list-group-item">Rewards last week: {{points}}</li>
              <li class="list-group-item">Rewards last month: {{points}}</li>
            </ul>
            <a href="#" class="btn btn-primary">See your Rewards</a>
          </div>
        </div>
      </div>

      <!-- Activity -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Activity</b></h5>
          <img src="/../static/images/activity.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Steps today: {{steps}}</p>
            <ul class="list-group list-group-flush">
                Distance walked: {{ distance }} km.

                <li class="list-group-item">Distance walked: {{distance}} km.</li>
              
              <li class="list-group-item">Calories burned: {{calories_burned}} calories</li>
              <li class="list-group-item">Duration walked: {{duration}} minutes</li>
            </ul>
            <a href="#" class="btn btn-primary">See your Activity History</a>
          </div>
        </div>
      </div>

      <!-- Personal -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Personal</b></h5>
          <img src="/../static/images/personal.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Jane Doe</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Age: 25</li>
              <li class="list-group-item">Height: 170 cm</li>
              <li class="list-group-item">Weight: {{current_weight}} kg</li>
            </ul>
            <a href="#" class="btn btn-primary">See Personal Information</a>
          </div>
        </div>
      </div>

      <!-- Linking -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Connections</b></h5>
          <img src="/../static/images/linking.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Connect to your accounts to unlock health related integrations.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="">Link your
                  MyFitnessPal</button>
              </li>
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Link your
                  Mi Fit</button>
              </li>
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Link your Google Fit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% else %} 
        <div class="row">
      <!-- Rewards -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Rewards</b></h5>
          <img src="/../static/images/discount.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
              
                <p class="card-text">Total Points: 0</p>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Current rewards: 0</li>
              <li class="list-group-item">Rewards last week: 0</li>
              <li class="list-group-item">Rewards last month: 0</li>
            </ul>
            <a href="#" class="btn btn-primary">See your Rewards</a>
          </div>
        </div>
      </div>

      <!-- Activity -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Activity</b></h5>
          <img src="/../static/images/activity.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Steps today: 0</p>
            <ul class="list-group list-group-flush">
                Distance walked: 0 km.

                <li class="list-group-item">Distance walked: 0 km.</li>
              
              <li class="list-group-item">Calories burned: 0 calories</li>
              <li class="list-group-item">Duration walked: 0 minutes</li>
            </ul>
            <a href="#" class="btn btn-primary">See your Activity History</a>
          </div>
        </div>
      </div>

      <!-- Personal -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Personal</b></h5>
          <img src="/../static/images/personal.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Jane Doe</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Age: 25</li>
              <li class="list-group-item">Height: 170 cm</li>
              <li class="list-group-item">Weight: {{current_weight}} kg</li>
            </ul>
            <a href="#" class="btn btn-primary">See Personal Information</a>
          </div>
        </div>
      </div>

      <!-- Linking -->
      <div class="col-sm-3 d-flex justify-content-center">
        <div class="card my-5 text-center" style="width: 16rem;">
          <h5 class="card-header"><b>Connections</b></h5>
          <img src="/../static/images/linking.svg" class="img-thumbnail" alt="...">
          <div class="card-body">
            <p class="card-text">Connect to your accounts to unlock health related integrations.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="">Link your
                  MyFitnessPal</button>
              </li>
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Link your
                  Mi Fit</button>
              </li>
              <li class="list-group-item">
                <button type="button" style="background-color:#e31c79;border-color:#e31c79" class="btn btn-primary"
                  data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Link your Google Fit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  

    <!-- Modal Dialogues -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('Link account')
      modal.find('.modal-body input').val(recipient)
    })
  </script>
</body>

</html>